@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0a;
  color: white;
}

.card-background {
  background: linear-gradient(
    0.06deg,
    rgba(10, 10, 10, 0) -42.26%,
    rgb(10, 10, 10) 87.9%
  );
}
